.header {
  margin: 50px auto;
}

.header__container {
  margin: auto;
  margin-left: 0;
  display: flex;
}

.header__title {
  margin: auto;
  margin-left: 30px;
}

.header__logo {
  max-width: 70px;
  max-height: 70px;
}
