.Homepage__header {
  display: flex;
}

.Homepage__header-logo {
  max-width: 100px;
}

.Homepage__body {
  display: flex;
  padding: 0;
}

.Homepage__body-description {
  margin: auto;
  margin-left: 0;
}

.Homepage__body-cover {
  max-width: 500px;
  margin: auto;
  margin-right: 0;
  box-shadow: 30px 0px 150px #0395f7a2;
  filter: brightness(90%);
}

.Homepage__body-cover:hover {
  filter: brightness(100%);
  transform: scale(1.01);
  transition: 0.1s;
  opacity: 1;
}

.Homepage__body-title {
  margin: 20px auto 20px 10px;
}

.Homepage__body-project {
  margin: 20px 10px;
  font-size: 16px;
}

.Homepage__button-login {
  background-image: linear-gradient(
    to right,
    #2f71e5 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
}
.Homepage__button-login {
  box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  margin: 40px auto;
  transition: 0.5s;
  width: 360px;
  height: 64px;
  background-size: 200% auto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.Homepage__button-login:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 885px) and (max-width: 1024px) {
  .Homepage__body-description {
    margin: auto;
    margin-left: 10x;
  }
  .Homepage__body-cover {
    margin-right: 10px;
  }
}

@media screen and (min-width: 831px) and (max-width: 885px) {
  .Homepage__body-description {
    margin: auto;
    margin-left: 20x;
    display: flex;
    flex-direction: column;
  }

  .Homepage__body-cover {
    max-width: 500px;
    margin: auto;
    margin-right: 20px;
    box-shadow: 30px 0px 150px #0395f7a2;
    filter: brightness(90%);
  }
  .Homepage__body-project {
    margin: 20px 10px;
    font-size: 15px;
  }

  .Homepage__button-login {
    width: 250px;
    height: 50px;
    margin: 40px auto;
  }
}

@media screen and (max-width: 830px) {
  .Homepage__body {
    display: flex;
    flex-direction: column;
  }
  .Homepage__body-title {
    margin: 5px auto;
    font-size: 18px;
  }

  .Homepage__body-project {
    margin: 20px 10px;
    font-size: 14px;
  }
  .Homepage__body-description {
    margin: auto;
    margin-left: 20x;
    display: flex;
    flex-direction: column;
  }

  .Homepage__body-cover {
    max-width: 80%;
    margin: auto;
    box-shadow: 30px 0px 150px #0395f7a2;
    filter: brightness(90%);
  }

  .Homepage__button-login {
    width: 180px;
    height: 40px;
    font-size: 14px;
    margin: 20px auto;
  }
}
